<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron" style="background-image:url(../../images/kerbalbannerMC.png);">
          <div class="panel-body" style="color:white;">
            <h1>Welcome To Mission Control</h1>
            <p>Select an active Kythera flight to view live telemetry or load past Kythera flight data to get access to mission logs. You can also view info for non-Kythera flights registered with Rockets MC.</p>
          </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.modal -->
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{activeTag}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-12" ng-repeat="flight in main.activeFlights">
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="isCollapsed = !isCollapsed" >
          <i ng-show="!isCollapsed" class="fa fa-caret-right"></i> <i ng-show="isCollapsed" class="fa fa-caret-down"></i> {{flight.launch_name}}
        </button>
      </div>
      <div class="panel-body" ng-show="isCollapsed">
        <div class="col-lg-6">
          <div class="list-group-item">
            <i class="fa fa-user"></i> Launcher
            <span class="pull-right"><em>{{flight.launcher}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="fa fa-calendar"></i> Launch Date
            <span class="pull-right"><em>{{main.formatTime(flight.launch_date, false)}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="fa fa-rocket"></i> Rocket
            <span class="pull-right"><em>{{flight.rocket_name}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="fa fa-institution"></i> Organization
            <span class="pull-right"><em>{{flight.organization}}</em>
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="list-group-item">
            <i class="fa fa-fire"></i> Motor
            <span class="pull-right"><em>{{flight.motor}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="fa fa-rss"></i> Avionics
            <span class="pull-right"><em>{{flight.avionics}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="glyphicon glyphicon-screenshot"></i> Dimensions
            <span class="pull-right"><em>{{flight.dimensions}}</em>
            </span>
          </div>
          <div class="list-group-item">
            <i class="fa fa-gift fa-fw"></i> Payload
            <span class="pull-right"><em>{{flight.payload_description}}</em>
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="alert alert-danger" ng-show="flight.status !== 'active'">
            This flight is currently idle. Live view is only available when the flight controller is present. If the rocket has passed pre-flight checks, log on as the flight controller and click "Assume Control".
        </div>
        <button ng-click="setUpLiveFlight(flight)" ng-show="!main.selectingControlSession" ng-disabled="flight.status !== 'active'" class="btn btn-primary"> Launch Live View </button>
        <button ng-click="main.controlFligt(flight)" ng-show="main.selectingControlSession" class="btn btn-primary"> Assume Control </button>
        <button ng-click="downloadPFAInfo(flight)" class="btn btn-primary"> Downalod Flight Report </button>
        <input type="text" ng-show="downloadComplete[flight._id]" class="form-control" ng-model="recipient" name="recipient" placeholder="Report Recipient">
        <button ng-show="downloadComplete[flight._id]" class="btn btn-default" ng-click="genEmail(flight)" type="button">Email Flight Report<i class="fa fa-mail-forward"></i></button>
        <button ng-click="mail.confirmRemoval(flight.launch_name, flight.status)" ng-show="main.permission" class="btn btn-danger pull-right"> Delete </button>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{completeTag}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" ng-repeat="flight in main.completeFlights">
      <div class="panel panel-default">
        <div class="panel-heading">
          <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="isCollapsed = !isCollapsed" >
            <i ng-show="!isCollapsed" class="fa fa-caret-right"></i> <i ng-show="isCollapsed" class="fa fa-caret-down"></i> {{flight.launch_name}}
          </button>
        </div>
        <div class="panel-body" ng-show="isCollapsed">
          <div class="col-lg-6">
            <div class="list-group-item">
              <i class="fa fa-user"></i> Launcher
              <span class="pull-right"><em>{{flight.launcher}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="fa fa-calendar"></i> Launch Date
              <span class="pull-right"><em>{{main.formatTime(flight.launch_date, false)}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="fa fa-rocket"></i> Rocket
              <span class="pull-right"><em>{{flight.rocket_name}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="fa fa-institution"></i> Organization
              <span class="pull-right"><em>{{flight.organization}}</em>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="list-group-item">
              <i class="fa fa-fire"></i> Motor
              <span class="pull-right"><em>{{flight.motor}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="fa fa-rss"></i> Avionics
              <span class="pull-right"><em>{{flight.avionics}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="glyphicon glyphicon-screenshot"></i> Dimensions
              <span class="pull-right"><em>{{flight.dimensions}}</em>
              </span>
            </div>
            <div class="list-group-item">
              <i class="fa fa-gift fa-fw"></i> Payload
              <span class="pull-right"><em>{{flight.payload_description}}</em>
              </span>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button ng-click="downloadPFAInfo(flight)" class="btn btn-primary"> Download Flight Report and Saved Data</button>
          <input type="text" ng-show="downloadComplete[flight._id]" class="form-control" ng-model="recipient" name="recipient" placeholder="Report Recipient">
          <button ng-show="downloadComplete[flight._id]" class="btn btn-default" ng-click="genEmail(flight)" type="button">Email Flight Report<i class="fa fa-mail-forward"></i></button>
          <button ng-click="main.confirmRemoval(flight.launch_name, flight.status)" ng-show="main.permission" class="btn btn-danger pull-right"> Delete </button>
        </div>
      </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{infoTag}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12" ng-repeat="flight in main.infoFlights">
        <div class="panel panel-default">
          <div class="panel-heading">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="isCollapsed = !isCollapsed" >
              <i ng-show="!isCollapsed" class="fa fa-caret-right"></i> <i ng-show="isCollapsed" class="fa fa-caret-down"></i> {{flight.launch_name}}
            </button>
          </div>
          <div class="panel-body" ng-show="isCollapsed">
            <div class="col-lg-6">
              <div class="list-group-item">
                <i class="fa fa-user"></i> Launcher
                <span class="pull-right"><em>{{flight.launcher}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="fa fa-calendar"></i> Launch Date
                <span class="pull-right"><em>{{main.formatTime(flight.launch_date, false)}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="fa fa-rocket"></i> Rocket
                <span class="pull-right"><em>{{flight.rocket_name}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="fa fa-institution"></i> Organization
                <span class="pull-right"><em>{{flight.organization}}</em>
                </span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="list-group-item">
                <i class="fa fa-fire"></i> Motor
                <span class="pull-right"><em>{{flight.motor}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="fa fa-rss"></i> Avionics
                <span class="pull-right"><em>{{flight.avionics}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="glyphicon glyphicon-screenshot"></i> Dimensions
                <span class="pull-right"><em>{{flight.dimensions}}</em>
                </span>
              </div>
              <div class="list-group-item">
                <i class="fa fa-gift fa-fw"></i> Payload
                <span class="pull-right"><em>{{flight.payload_description}}</em>
                </span>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <button ng-click="downloadPFAInfo(flight)" class="btn btn-primary"> Downalod Flight Report </button>
            <input type="text" ng-show="downloadComplete[flight._id]" class="form-control" ng-model="recipient" name="recipient" placeholder="Report Recipient">
            <button ng-show="downloadComplete[flight._id]" class="btn btn-default" ng-click="genEmail(flight)" type="button">Email Flight Report<i class="fa fa-mail-forward"></i></button>
            <button ng-click="main.confirmRemoval(flight.launch_name, flight.status)" ng-show="main.permission" class="btn btn-danger pull-right"> Delete </button>
          </div>
        </div>
    </div>
</div>
<!-- /.row -->
